<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!--This is Nav part-->
       {{>navbar}}

     <!--This part is below Nav bar-->

       <div class="container-fluid main_header" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                <div class="row">
                    <!--This is left side of page(left header)-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="Images/about.webp" alt="Ankit" class="img-fluid" title="Nami">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather App</p>
                        <h1>I am a <span class="text_clr">Mern Stack Developer</span> Of Galgotias University</h1>
                        <a href="https://www.galgotiasuniversity.edu.in/" target="_Ankit"><button>About Me</button></a>
                    </div>
                     <!--This is right part of page(right header)-->
                    
                </div>

            </div>
        </div>
       
       </div>

       <!--THis is Footer--> 
        {{>footer}}
</body>
</html>